<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Fitness Tracker</title>
</head>

<body>
<div class="container" ng-app="fitnessTracker" ng-controller="addGoalController">

    <div class="page-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Fitness Tracker</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0);" ng-click="home()">Home</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>

        <h1>
            Add Goal
        </h1>
        <p>
            Add your workout goal in minutes for the day.
            <br>
            &nbsp;
        </p>

        <input class="col-sm-3 input-lg" class="form-control" type="text" ng-model="minutes"
               ng-keyup="$event.keyCode == 13 ? addGoalMinutes() : null" placeholder="{{placeHolder}}">
        <button ng-click="addGoalMinutes()" class="btn btn-primary btn-lg">Enter Goal Minutes
        </button>
    </div>
</div>

<script src="js/angular-1.4.8.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>