<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Fitness Tracker</title>
</head>

<body>
<div class="container" ng-app="fitnessTracker" ng-controller="addMinutesController">

    <div class="page-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Fitness Tracker</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0);" ng-click="home()">Home</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div>

        <h1>
            Add Minutes Exercised
        </h1>
        <p>
            Minutes Exercised for today:
            <br>
            &nbsp;
        </p>
        <p>
        <input class="col-sm-3 input-lg" class="form-control" type="text" ng-model="minutes">
            <br>
        </p>
        <p>
        <select ng-model="selectedActivity" ng-change="update()">
            <option ng-repeat="x in activities">{{x}}</option>
        </select>
            <br>
        </p>
        <p>
        <button ng-click="addExercise()" class="btn btn-primary btn-lg">Enter Exercise
        </button>
        </p>

    </div>


</div>

<script src="js/angular-1.4.8.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>