<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>


    <title>Fitness Tracker</title>
</head>

<body>


<div class="container" ng-app="fitnessTracker" ng-controller="controller">
    <div class="page-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Fitness Tracker</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="javascript:void(0);" ng-click="about()">About</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div>
        <h2>Welcomt to Fitness Tracker</h2>
        <p>To get started, we need to enter a goal for what we want to exercise for
            today.</p>
    </div>

    <div>
        <button ng-click="addGoal()" class="btn btn-primary btn-lg">Add Goal</button>
        <button ng-click="addExerciseMinutes()" class="btn btn-primary btn-lg">Add Exercise Minutes</button>
    </div>

</div>

<script src="js/angular-1.4.8.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>


</body>
</html>